{% extends "base.html" %}
{% block body_color %} white {% endblock body_color %}
{% block page %}
{% include "navbar.html" %}
<div class="container" style="padding:0">
    <div class="row" style="margin:auto;">
        <ul class="nav nav-tabs" style="margin-bottom: 15px;display: inline-block;left:50%; transform:translate(-50%,0);position: relative;">
            <li class="active"><a href="#visaCard" data-toggle="tab">Par Carte Visa/MasterCard</a></li>
            <li style="background-color:rgba(204, 255, 0, 0.62);"><a href="#paypal" data-toggle="tab">Par Paypal</a></li>
        </ul>
    </div>
    <div class="row tab-content" style="margin:auto;">
        <div id="visaCard" class="col-md-6 col-md-offset-3 tab-pane active">
            <form method="post" action="" id="payment-form">
                {% csrf_token %}
                <h2 style="color: #333;">Veuillez entrer les informations de votre carte de crédit :</h2>
                <p class="payment-errors text-danger"></p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" placeholder="Numéro de Carte"
                                class="form-control input-lg" data-stripe="number" />
                        </div>
                    </div>
                </div>
                <div class="row" id="cvc">
                    <div class="col-sm-10 col-md-9">
                        <div class="form-group">
                            <input type="text" placeholder="Code de sécurité" class="form-control input-lg"
                                maxlength="4" data-stripe="cvc" />
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-3">
                        <div class="form-group" >
                            <span tabindex="0" class="btn btn-lg ppover pull-right" data-container="#cvc" data-placement="left" data-toggle="popover" data-trigger="click" title="d" data-content="Le numéro au verso de votre carte"><span class="glyphicon glyphicon-question-sign text-info"></span></span>

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" placeholder="MM" class="form-control input-lg"
                                maxlength="2" data-stripe="exp-month" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <input type="text" placeholder="AAAA"
                                class="form-control input-lg" maxlength="4"
                                data-stripe="exp-year" />
                        </div>
                    </div>
                </div>
                <div style="width: 50%; margin: 0 auto; margin-top: 10px; text-align: center;">
                    <button type="submit" class="btn btn-primary btn-lg" id="form-submit" style="display: inline-block; color:#fff">
                        Effectuer le paiement
                    </button>
                </div>
            </form>
        </div>
        <div id="paypal" class="col-md-6 col-md-offset-3 tab-pane fade">
                <a class="btn btn-info btn-lg" style="display: inline-block; color:#fff;top:30vh;left:50%; transform:translate(-50%,0);position: relative">
                        Pay by Paypal &trade;
                </a>
        </div>
    </div>
</div>

{% endblock page %}
{% block bottom_scripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	// This identifies your website in the createToken call below
	Stripe.setPublishableKey('{{ key }}');

	var stripeResponseHandler = function(status, response) {
		var $form = $('#payment-form');

		if (response.error) {
			// Show the errors on the form
			$form.find('.payment-errors').text(response.error.message);
			$form.find('button').prop('disabled', false);
		} else {
			// token contains id, last4, and card type
			var token = response.id;
			// Insert the token into the form so it gets submitted to the server
			$form.append($('<input type="hidden" name="stripeToken" />').val(token));

			content = $("#form-submit").html();
			content = '<i class="fa fa-refresh fa-spin"></i>' + content;
			$("#form-submit").html(content);

			// and submit
			//alert('submit now');
			$form.get(0).submit();
		}
	};

	jQuery(function($) {
		$('#payment-form').submit(function(event) {
				var $form = $('#payment-form');
				$form.find('button').prop('disabled', true);
				Stripe.card.createToken($form, stripeResponseHandler);
				return false;
        })
    });

</script>
{% endblock bottom_scripts %}