<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amicale Ivoiro-Canadienne de Québec</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="{% static 'css/roboto.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/ripples.min.css' %}" rel="stylesheet">
</head>
<body style="background-color:{% block body_color %}white{% endblock body_color %};">
{% block page %}




{% endblock page %}

<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/ripples.min.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script>
    $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>
{% block bottom_scripts %}

{% endblock bottom_scripts %}
</body>
</html>