{% load static from staticfiles %}
<div class="navbar navbar-black" style="padding-right:4vw; padding-left:2vw;">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" style="font-size:2em; text-transform:uppercase "> Amicq </a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <!--<ul class="nav navbar-nav">
            <li class="active"><a href="javascript:void(0)">Active</a></li>
            <li><a href="javascript:void(0)">Link</a></li>
            &lt;!&ndash;<li class="dropdown">
                <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="javascript:void(0)">Action</a></li>
                    <li><a href="javascript:void(0)">Another action</a></li>
                    <li><a href="javascript:void(0)">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Dropdown header</li>
                    <li><a href="javascript:void(0)">Separated link</a></li>
                    <li><a href="javascript:void(0)">One more separated link</a></li>
                </ul>
            </li>&ndash;&gt;
        </ul>-->
        <!--<form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Search">
        </form>-->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)">À propos de nous</a></li>
            <li class="dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Contact<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li style="background-color:#3b5998; color:#fff"><a href="javascript:void(0)" class="btn-success" style="background-color:#3b5998; color:#fff">Facebook</a></li>
                    <li class="divider"></li>
                    <li><a href="mailto:konoufo@hotmail.fr">E-mail</a></li>

                </ul>
            </li>
        </ul>
    </div>
</div>